<div class="footer" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="footerInfo" fxFlex="30" fxFlexOrder.xs="1">
        <h4> Our Mission </h4>
        <br />
        <p>
            We aim to help the youth of South Africa in deploying various strategies in deploying our coupes. We aim to help the youth
            of South Africa in deploying various strategies in deploying our coupes. We aim to help the youth of South
            Africa in deploying various strategies in deploying our coupes.
        </p>

    </div>
    <div fxFlex="50" fxFlexOrder.xs="2">
        Oister
    </div>
</div>
