
<!-- <div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutAlign.xs="start stretch" fxFlexFill="fill">
    <div class="left-footer" fxFlex="40" fxFlexOrder.xs="1"> -->
   
   <div class="container">
 <div class="row">
       <div class="col-xs-12 col-md-4">
        <h4> Our Mission </h4>
       

    </div>
    <!-- <div fxFlex="20" fxFlexOrder.xs="2"> -->
    <div class="col-xs-12 col-md-4">
            <h4> Our Mission </h4>
            <br />
            <p>
                We aim to help the youth of South Africa in deploying various strategies in deploying our coupes. We aim to help the youth
             
            </p>
    
        </div>
        <!-- <div class="last-foot" fxFlex="40" fxFlex.xs="60" fxFlexOrder.xs="3">
     -->
     <div class="col-xs-12 col-md-4">
                <h4> Follow us</h4>
                <br />
                <p>
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                        <i class="fa fa-google fa-3x" aria-hidden="true"></i>
                </p>
    
   </div>    
   </div>