.container-search{
  
}

.login-card{
    background-color: white;
    width:320px;
}

.mat-card {
    color:#333;
    font-size: 0.8em;
  }


  .blueTxt{
    color:blue!important;
    margin-right:8px;
  }
  

  .greenTxt{

    margin-left:8px;
      color:green!important;
  }