.container{
    margin-top:70px;
}

body {
    padding: 2em 2em;
    background:lightgray;
}

.constell{
    // background:url('./../assets/images/divbg.png');
    // background-repeat: repeat;
    // background-size: 100% 80%;
    // background-position:center;
}