/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import '~@angular/material/theming';


@include mat-core();


@import 'theme.scss';
@import "~ngx-toastr/toastr";

.teal-theme{
    @include angular-material-theme($theme);
}

html, body {
    margin: 0; width: 100%;
height: 100%;
}

.container{
    min-height: 100%;
}