<a (click)="toast()">Toast Me</a>
<div class="search teal-theme">
    <form class="search-form" name="searchForm" [formGroup]="searchForm" (ngSubmit)="directSearch(searchForm.value)" autocomplete="off"
        novalidate>

        <div class="row">
            <div class="col-12 text-center mt-5">


                <mat-form-field class="search-full-width">
                    <input matInput placeholder="Find a job" (click)="removeVar()" name="searchTxt" formControlName="searchTxt" placeholder="Job Title or Skill"
                        required>
                </mat-form-field>

            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button mat-button class="searchBtn" modal-trigger>Search</button>
            </div>
        </div>
        <div *ngIf="searching" class="d-flex justify-content-center">
            <div class="my-4">
                <mat-spinner></mat-spinner>
            </div>
        </div>

    </form>
</div>

<div class="container">
    <div class="content choose-div" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center"  fxFlexFill>

        <div fxFlex="50" fxFlexOrder.xs="1" fxLayoutAlign="center" class="country-div">
            <div>
                Choose Country
            </div>

            <img [src]="countrySearch" width="280px" mat-button [matMenuTriggerFor]="countryMenu" alt="Country Search">

            <mat-menu #countryMenu="matMenu" class="countryMenu">
                <div *ngFor="let prov of provinces">
                    <button mat-menu-item (click)="searchProv(prov)">{{prov}}</button>

                </div>

            </mat-menu>

        </div>

        <div fxFlex="50" fxFlexOrder.xs="2" fxLayoutAlign="center" class="sec2">
            <div>
                Choose an Industry
            </div>

            <img [src]="sectorSearch" mat-button [matMenuTriggerFor]="sectorMenu" alt="Sector Search">

            <mat-menu #sectorMenu="matMenu" class="sectorMenu">
                <div *ngFor="let sector of sectors">
                    <button mat-menu-item (click)="searchSector(sector)">{{sector}}</button>

                </div>

            </mat-menu>
        </div>
    </div>

<div class="row mb100">
    <div class="col-12 text-center">
            <button class="btn btn-secondary">Sign Up</button>
    </div>
   
</div>
   
</div>

<app-a-modal>
    <div class="row">
        <ul *ngFor="let searchPost of sp | async">
            <li>
                {{searchPost.title}}
            </li>
        </ul>


    </div>
</app-a-modal>